/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    color: white;
}

.iphone-frame {
    width: 405px;
    height: 667px;
    background: url('iph.png') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.app-container {
    width: 65%;
    height: 80%;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    z-index: 1;
}

.page {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page.active {
    display: flex;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 80%;
}

.btn1 {
    margin-top: 100px;
    background-color: white;
    color: #007bff;
}

.btn1:hover {
    background-color: #0056b3;
    color: white;
}


button i {
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

input[type="range"] {
    width: 80%;
    margin: 20px 0;
}

input[type="color"] {
    margin: 20px 0;
}

p {
    font-size: 1.2em;
}

.bottom-nav {
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.bottom-nav button {
    flex: 1;
    padding: 5px 5px;
    background: none;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav button i {
    margin-right: 0;
}

.bottom-nav button:hover {
    background-color: #0056b3;
}